.top-wrap {position: absolute; width: 100%; padding: 2rem 3rem; z-index: 999;}
.top-navi > li {margin: 0 2rem; color: #fff;}
.top-bars rect {color: #fff!important; fill: transparent;}
.top-bars > .top-bar {stroke: #fff; color: #fff;}

.banners{background-color: #2f237c; height: 2000px; position: relative;}
.banner-crops {position: absolute; top:12%; left: 40%; z-index: 99;}
.banner-crops.crop2 {left: 57%;}
.banner-crops > .banner-crop {position: absolute; width: 1.5rem; height: 25rem;background-color: #2f237c;}
.banner-crops .crop1 {left: 33%;}
.banner-crops .crop2 {left: 50%;}
.banner-imgs {position: absolute; width: 50%; top: 13%; left: 30%;}
.banner-conts {position: absolute; top: 14%; left: 8%; color: #fff;}
.banner-sub {font-size: 0.8rem; letter-spacing: 0.2rem;}
.banner-tit {margin-top: 1rem; font-size: 4rem; font-weight: bold;}
.banner-button {margin-top: 2rem; font-size: 1.2rem; padding: 1rem; width: 10rem;background-color: #fff; color: #2f237c; text-align: center;}
